{% extends 'base.html' %}

{% block body %}
<section class="showcase-area" id="home">
    <div class="showcase-container">
        <div class="showcase-side-img">
            <img src="https://zaini-website.s3.amazonaws.com/static/images/showcase-side.jpeg" alt="image" class="showcase-img">
        </div>
        <div class="showcase-side-content">
            <img src="https://zaini-website.s3.amazonaws.com/static/images/logo.jpg" alt="Logo class="logo">
            <h2 class="lg-heading">Zaini Old Motor Parts</h2>
            <h2 class="lg-heading">Welcomes You</h2>
            <p class="md-heading">Yours Parts Supplier</p>
            <span style="opacity: 0; font-size: 50px;" class="arrow">&#8595;</span> <br>
            <a href="#about" style="opacity: 0;" class="btn primary-btn">About Us</a>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="about-container container">
        <h2 class="lg-heading">What We Do :-</h2>
        <div class="about-content">
            <p class="about-para">We are a company that specializes in buying scrap cars from various reputable brands
                such as [<span style="color: #000;font-weight: 700">Audi,</span> <span
                    style="color: #000;font-weight: 700">BMW,</span> <span
                    style="color: #000;font-weight: 700">Skoda,</span> <span
                    style="color: #000;font-weight: 700">Jaguar,</span> <span
                    style="color: #000;font-weight: 700">Toyota,</span> <span
                    style="color: #000;font-weight: 700">MarutiSuzuki,</span> <span
                    style="color: #000; font-weight: 700;">Volkswagen,</span> <span
                    style="color: #000; font-weight: 700;">TATA,</span> <span
                    style="color: #000; font-weight: 700;">Hyundai,</span> <span
                    style="color: #000; font-weight: 700;">Honda</span>] many more. Our goal is also to provide a
                convenient solution for individuals looking to sell their unwanted vehicles.
                Once we acquire these scrap cars, we carefully dismantle them and salvage all the usable spare parts.
                This includes essential components [<span style="color: #000; font-weight: 700;">Engines,</span> <span
                    style="color: #000; font-weight: 700;">Gearboxes,</span> <span
                    style="color: #000; font-weight: 700;">Tyres,</span> <span
                    style="color: #000; font-weight: 700;">Bumpers,</span> <span
                    style="color: #000; font-weight: 700;">HeadLamps,</span> <span
                    style="color: #000; font-weight: 700;">Bonnets,</span> <span
                    style="color: #000; font-weight: 700;">Doors,</span> <span
                    style="color: #000; font-weight: 700;">Side-Mirrors,</span> <span
                    style="color: #000; font-weight: 700;">Front-Back-Mirrors</span>] and every single part associated
                with brands like Audi, BMW, Skoda, Toyota, Maruti Suzuki, Volkswagen TATA, Hyundai, Honda and more.
                By offering these spare parts for sale, we aim to cater to the needs of car owners who are in search of
                affordable replacement parts. Our extensive inventory ensures that we can provide a wide range of
                options to our customers, allowing them to find the specific parts they require for their vehicles.
                Through our expertise in the field, we strive to deliver a seamless and reliable service to both sellers
                of scrap cars and buyers of spare parts. Our transparent and fair pricing policy ensures that our
                customers receive a fair deal for their scrap cars, while those in need of spare parts can benefit from
                affordable options without compromising on quality.
                If you have any questions or are looking to sell a scrap car or purchase spare parts, feel free to reach
                out to us. We are here to help!</p>
        </div>
        <div class="about-img">
            <img src="https://zaini-website.s3.amazonaws.com/static/images/about-img.jpg" alt="about image" class="first-img">
            <img src="https://zaini-website.s3.amazonaws.com/static/images/car.jpg" alt="parts image" class="sec-img">
        </div>
    </div>
</section>
<section class="product-section" id="product">
    <h2>Products We Offer</h2>
    <div class="product-wrapper container">
        <div class="product-img product-img1">
            <img src="https://zaini-website.s3.amazonaws.com/static/images/Engine.jpg" alt="Engine image">
            <div class="product-content engine-container">
                <h3 class="product-heading">ENGINE</h3>
                <a href="/contact" class="btn primary-btn" target="_blank">Contact Us</a>
            </div>
        </div>
        <div class="product-img product-img2">
            <img src="https://zaini-website.s3.amazonaws.com/static/images/Car-Junkyard.jpg" alt="Parts">
            <div class="product-content parts1-container">
                <h3 class="product-heading">PARTS</h3>
                <a href="/contact" class="btn primary-btn" target="_blank">Contact Us</a>
            </div>
        </div>
        <div class="product-img product-img3">
            <img src="https://zaini-website.s3.amazonaws.com/static/images/doors.jpeg" alt="doors">
            <div class="product-content doors-container">
                <h3 class="product-heading">DOORS</h3>
                <a href="/contact" class="btn primary-btn" target="_blank">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<section class="dealers-section" id="dealers">
    <div class="dealers-container container">
        <h2 class="lg-heading">Our Dealers Are :-</h2>
        <div class="boxes">
            <div class="box1">
                <ul class="ul1">
                    <ul class="ul1-left">
                        <li class="dealers dealer fas">&#xf1b9; Audi</li><br>
                        <li class="dealers dealer fas">&#xf1b9; BMW</li><br>
                        <li class="dealers dealer fas">&#xf1b9; Skoda</li>
                    </ul>
                    <div class="ul1-right">
                        <li class="dealers dealer fas">&#xf1b9; Jaguar</li><br>
                        <li class="dealers dealer fas">&#xf1b9; Toyota</li>
                    </div>
                </ul>
            </div>
            <div class="box2">
                <ul class="ul2">
                    <ul class="ul2-left">
                        <li class="dealers dealer fas">&#xf1b9; TATA</li><br>
                        <li class="dealers dealer fas">&#xf1b9; Volkswagen</li><br>
                        <li class="dealers dealer fas">&#xf1b9; MarutiSuzuki</li><br>
                    </ul>
                    <ul class="ul2-right">
                        <li class="dealers dealer fas">&#xf1b9; Hyundai</li><br>
                        <li class="dealers dealer fas">&#xf1b9; Honda</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="benefit-section" id="benefit">
    <div class="benefit-section-content container">
        <h2 class="lg-heading">Turn Your Scrap Car Into Cash - Unlock the Value of Your Old Vehicle!</h2>
        <p><strong>Introduction:</strong> Have you ever wondered what to do with that old, rusty car sitting in your garage or driveway?
            Look no further! At <strong class="omp">Zaini Old Motor Parts</strong>, we specialize in turning scrap cars into cash. Not only will you
            get rid of an unwanted vehicle, but you'll also benefit from its hidden value. Read on to discover why you
            should choose our services and how we can help you. <br><br>

            <strong>Hassle-Free Process:</strong> Dealing with a scrap car can often be a headache, but not with us. We make the entire
            process simple and hassle-free. Just reach out to us, provide some basic details about your car, and we'll
            take care of the rest. Our team will handle the paperwork, towing, and any necessary arrangements, allowing
            you to sit back and relax.<br><br>

            <strong>Environmental Responsibility:</strong> By choosing our services, you play an essential role in promoting
            environmental sustainability. Scrap cars can be a source of pollution and waste if not disposed of properly.
            We ensure that your vehicle is recycled and disposed of in an environmentally friendly manner, minimizing
            its impact on the planet.<br><br>

            <strong>Cash for Your Scrap Car:</strong> One of the most compelling reasons to choose us is the financial benefit. That old,
            unwanted car taking up space can actually put money in your pocket. We offer competitive prices based on the
            market value of your vehicle, allowing you to turn your scrap car into a valuable asset. Use the extra cash
            for a vacation, home renovation, or any other purpose you desire!<br><br>

            <strong>No Age, Model, or Condition Limitations:</strong> Whether your car is running or not, damaged, or no longer
            roadworthy, we accept vehicles of all models, ages, and conditions. We see the value in every scrap car,
            regardless of its state. Even if your car has missing parts or has been involved in an accident, we are
            willing to take it off your hands.<br><br>

            <strong>Quick and Efficient Service:</strong> Time is precious, and we understand that. Our team is committed to providing
            quick and efficient service. Once you decide to sell your scrap car to us, we'll schedule a convenient
            pick-up time. Our professional team will arrive at your location, tow the vehicle away, and ensure that the
            entire process is completed swiftly and smoothly.<br><br>

            <strong>Trustworthy and Reliable:</strong> With years of experience in the industry, we have built a reputation for being
            trustworthy and reliable. Our customers' satisfaction is our top priority, and we strive to deliver
            exceptional service with integrity. You can trust us to handle your scrap car and provide a transparent and
            fair evaluation of its value.<br><br>

            <strong>Conclusion:</strong> Don't let your scrap car sit idle, depreciating in value and causing unnecessary clutter. Choose
            <strong class = "omp">Zaini Old Motor Parts</strong> to turn your unwanted vehicle into cash quickly and conveniently. Our hassle-free
            process, environmental responsibility, competitive pricing, and reliable service make us the top choice for
            handling scrap cars. Contact us today, and let's unlock the hidden value of your old car together!</p>
        <a href="contact" class="btn primary-btn" target = "_blank">Order Here</a>
    </div>
</section>
<footer id="footer">
    <h2>Zaini Old Motor Parts &copy; All Rights Reserved</h2>
</footer>

<!-- ############################ for smooth scrolling ####################### -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Add smooth scrolling to all links
        $("a").on('click', function (event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    });
</script>
{% endblock body %}